* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  height: 70vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -99;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  bottom: 10px;
  color: rgb(161, 186, 209);
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
